/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')


/*.jumbotron
  background: url('/images/abstract-nature.jpg') no-repeat center center;*/
